.corpo{
  /* background-color: #c19a6b; */
  height: 250px;
  width: 200px;
  border-radius: 50% 50% 45% 45%;
  position: relative;
}

.olhos1{
  position: absolute;
  width: 90px;
  top: 30px;
  left: 50px;
  
}

.boca1{
   position: absolute;
   width: 100px;
   left: 50px;
   top: 115px;
}

